= form_for @brend, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :company_id, :class => 'control-label'
    .controls
      = f.select :company_id, Company.all.map{|t| [t.name,t.id]}, :class => 'select_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), brends_path, :class => 'btn'
